
<ion-view view-title="Dashboard"  >

  <ion-content class="padding " >

  <div class="card" >

    
<!-- Whats Happens  -->
  <label class="item item-input">
     <div class="item-avatar item-icon-right"><img  ng-src="img/ben.png"> </div>
    <input type="text" placeholder="¿Que estas pensando?">
  </label>


      <div class="item tabs tabs-secondary tabs-icon-left">
      <a href="#" class="tab-item">
        <i class="icon ion-edit"></i>
        ESTADO</a>
      <a href="#" class="tab-item">
        <i class="icon ion-camera"></i>
        FOTO</a>
            <a href="#" class="tab-item">
        <i class="icon ion-location"></i>
        ESTOY AQUÍ</a>
    </p>
  </div>

  </div>

<!-- Secondary Card  -->
    <div class="card" >

      <div class="item tabs tabs-secondary tabs-icon-left">
      <a href="#" class="tab-item">
        <i class="icon ion-thumbsup"></i>
        Me Gusta</a>
      <a href="#" class="tab-item">
        <i class="icon ion-chatbox"></i>
        Comentar</a>
            <a href="#" class="tab-item">
        <i class="icon ion-forward"></i>
        Compartir</a>
    </p>
  </div>

  </div>




  </ion-content>
</ion-view>
